<form [formGroup]="companyFormGroup">
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CNPJ</mat-label>
      <input
        type="text"
        matInput
        placeholder="00.000.000/0000-00"
        formControlName="cnpj"
        mask="00.000.000/0000-00"
      />
      @if (cnpj.invalid && cnpj.touched) {
        <mat-error> Campo obrigatório </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Razão social</mat-label>
      <input
        type="text"
        matInput
        placeholder="Digite a razão social"
        formControlName="corporateReason"
      />
      @if (corporateReason.invalid && corporateReason.touched) {
        <mat-error> Campo obrigatório </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome fantasia</mat-label>
      <input
        type="text"
        matInput
        placeholder="Digite o nome fantasia"
        formControlName="fantasyName"
      />
    </mat-form-field>
  </div>
</form>
