@if (loading) {
  <app-spinner [diameter]="spinnerDiameter"></app-spinner>
} @else {
  <button
    mat-flat-button
    class="button"
    [style.height]="height"
    [style.width]="width"
    [style.fontSize]="fontSize"
    [style.padding]="padding"
    [type]="type"
    [disabled]="disabled"
    [style.background-color]="bgColor"
    [style.color]="textColor"
    [matTooltip]="tooltipText"
  >
    @if (icon) {
      <mat-icon class="icon-left">{{ icon }}</mat-icon>
    }
    {{ text }}
  </button>
}
