<form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Digite seu nome" formControlName="name" />
      @if (name.touched && name.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Digite seu email" formControlName="email" />

      @if (email.touched && email.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
      }

      @if (email.touched && email.hasError('email')) {
        <mat-error>Email inválido</mat-error>
      }
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Digite sua senha" formControlName="pass" />
        @if (pass.touched && pass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
        @if (pass.touched && pass.hasError('minlength')) {
          <mat-error>A senha deve conter no mínimo 6 dígitos</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Confirmar senha</mat-label>
        <input
          matInput
          type="password"
          placeholder="Confirme a senha"
          formControlName="confirmationPass"
        />

        @if (confirmationPass.touched && confirmationPass.hasError('passwordsMismatch')) {
          <mat-error>As senhas não coincidem</mat-error>
        }

        @if (confirmationPass.touched && confirmationPass.hasError('minlength')) {
          <mat-error>A senha deve conter no mínimo 6 dígitos</mat-error>
        }

        @if (confirmationPass.touched && confirmationPass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</form>
