@use '../colors' as *;
@use '@angular/material' as mat;

@include mat.icon-button-overrides(
  (
    filled-container-color: $transparent,
    icon-color: $font-primary,
    icon-size: 22px,
    container-shape: 8px,
    disabled-icon-color: $gray,
  )
);

.icon-button {
  cursor: pointer;
  background-color: transparent !important;
  border: none;

  .icon-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
