@use '../colors' as *;
@use '@angular/material' as mat;

@include mat.icon-button-overrides(
  (
    icon-size: 22px,
    container-shape: 8px,
    disabled-icon-color: $gray,
  )
);

.custom-icon-button {
  --mat-icon-button-ripple-color: var(--ripple-color);
}
