@use '../colors' as *;
@use '@angular/material' as mat;

@include mat.progress-spinner-overrides(
  (
    active-indicator-color: $primary,
  )
);

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}
