@use '../colors' as *;

.default-table {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $gray;

  width: 100%;
  min-width: 700px;

  tr:nth-child(odd) {
    background-color: $secondary;
  }

  tr:nth-child(even) {
    background-color: $gray;
  }

  tr:hover {
    cursor: pointer;
    background-color: $primary;
    color: $secondary;
  }

  .mat-sort-header-arrow {
    color: $secondary;
  }
}

table {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $gray;

  th {
    background-color: $primary;
    color: $font-primary;
    padding: 12px 16px;
  }

  td {
    padding: 12px 16px;
  }
}
