@use '../colors' as *;
@use '@angular/material' as mat;

@include mat.toolbar-overrides(
  (
    container-background-color: $secondary,
    title-text-line-height: normal,
    standard-height: auto,
  )
);

.mat-toolbar {
  background-color: $secondary;
}

.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 15px;
  color: #6b7280;
  font-weight: 500;
}
