<div class="table-container" fxLayout="column">
  <div class="table-wrapper">
    @if (loading()) {
      <div class="spinner-overlay">
        <app-spinner />
      </div>
    }

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="padding: 10px 0px">
      <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
        <mat-label>Pesquise o produto desejado</mat-label>
        <input matInput type="search" (input)="onSearch($event)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <app-icon-filter-button
        [showOptionAll]="true"
        [itemsOptions]="filterOptions"
        [(selectedFilter)]="selectedMarginFilterType"
        toolTipText="Margem"
      />
    </div>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      multiTemplateDataRows
      class="default-table zebra-expandable"
    >
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button
            class="icon-button-table"
            mat-icon-button
            aria-label="expand row"
            (click)="toggleRow(element); $event.stopPropagation()"
          >
            <mat-icon>
              {{ expandedElement === element ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Criado em</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: 'dd/MM/yyyy HH:mm' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef>Alterado em</th>
        <td mat-cell *matCellDef="let element">
          {{ element.updatedAt | date: 'dd/MM/yyyy HH:mm' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="element-detail-wrapper" [class.is-expanded]="element == expandedElement">
            <div class="element-detail-content">
              <div class="expanded-detail-content" fxLayout="column">
                <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start">
                  @if (userPermissions?.allowEditProductMargin) {
                    <b class="label">Margem por loja %</b>

                    <div fxLayout="row" fxLayoutAlign="space-between" class="full-width">
                      @for (branche of companyBrancheList; track branche.id) {
                        <div fxLayout="column">
                          @let marginCtrl = getMarginControl(element.id, branche.id);

                          @if (marginCtrl) {
                            <input
                              #marginInput
                              style="width: 55px"
                              class="only-line margin-field"
                              matInput
                              type="text"
                              maxlength="7"
                              (focus)="onFocus($event)"
                              (keydown.enter)="
                                marginCtrl.invalid ? null : focusNextInput($any($event))
                              "
                              (blur)="
                                onMarginBlur(
                                  element,
                                  branche,
                                  marginCtrl,
                                  marginInput.getAttribute('data-initial')
                                )
                              "
                              (focusin)="
                                marginInput.setAttribute(
                                  'data-initial',
                                  marginCtrl.value.toString()
                                )
                              "
                              mask="separator.2"
                              suffix="%"
                              decimalMarker=","
                              [dropSpecialCharacters]="true"
                              [formControl]="marginCtrl"
                            />

                            @if (marginCtrl.invalid && marginCtrl.touched) {
                              <mat-error> margem inválida</mat-error>
                            }
                          }
                          <p class="branch-name">{{ branche.name }}</p>
                        </div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        [class.expanded-detail-content]="expandedElement === element"
        (click)="toggleRow(element)"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="colapsed-detail-content"
      ></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="paginatorDataSource.records.count"
      [pageSize]="paginatorDataSource.pageSize"
      [pageIndex]="paginatorDataSource.pageIndex"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
