<form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="12px">
    @if (loading) {
      <div fxLayout="row" fxFlex="100%" class="spinner-container">
        <app-spinner />
      </div>
    } @else {
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>usuário</mat-label>
        <input [value]="email" readonly="true" class="full-width" matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nova Senha</mat-label>
        <input
          formControlName="pass"
          class="full-width"
          matInput
          type="password"
          placeholder="Digite a nova senha"
        />
        @if (pass.touched && pass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirme a senha</mat-label>
        <input
          formControlName="confirmationPass"
          matInput
          type="password"
          placeholder="Digite novamente a nova senha"
        />
        @if (confirmationPass.touched && confirmationPass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
        @if (confirmationPass.touched && confirmationPass.hasError('passwordsMismatch')) {
          <mat-error>As senhas não coincidem</mat-error>
        }
      </mat-form-field>
    }
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end" fxLayoutGap="7px">
      <app-button
        (click)="returnToLoginPage()"
        text="Cancelar"
        bgColor="var(--cancel-color)"
      ></app-button>
      <app-button [type]="'submit'" text="Resetar a senha"></app-button>
    </div>
  </div>
</form>
