$primary: #114202;
$secondary: #fff;

$font-primary: #fff;
$font-secondary: #000;

$light-gray: #f5f2f2;
$medium-gray: #6b7280;
$gray: #bebebe;

$cancel-color: #b00020;
$error-color: #ff0000;
$success-color: #2e7d32;
$warning-color: #ed6c02;
$info-color: #0288d1;

$no-background-color: #00000000;
$ripple-color: #fafafa1e;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};

  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};

  --light-gray: #{$light-gray};
  --medium-gray: #{$medium-gray};
  --gray: #{$gray};

  --cancel-color: #{$cancel-color};

  --error-color: #{$error-color};
  --sucess-color: #{$success-color};
  --warning-color: #{$warning-color};
  --info-color: #{$info-color};

  --no-background-color: #{$no-background-color};
  --ripple-color: #{$ripple-color};
}
