$primary: #20690a;
$secondary: #fff;

$font-primary: #fff;
$font-secondary: #000;

$light-gray: #f5f2f2;
$medium-gray: #6b7280;
$gray: #bebebe;

$cancel-color: #b00020;
$no-background-color: #00000000;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};

  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};

  --light-gray: #{$light-gray};
  --medium-gray: #{$medium-gray};
  --gray: #{$gray};

  --cancel-color: #{$cancel-color};
  --no-background-color: #{$no-background-color};
}
