<div class="table-container" fxLayout="column">
  <div class="table-wrapper">
    @if (loading()) {
      <div class="spinner-overlay">
        <app-spinner />
      </div>
    }

    <mat-form-field appearance="outline" class="full-width" style="padding: 10px 0px">
      <mat-label>Pesquisar item pela descrição</mat-label>
      <input matInput type="search" (input)="onSearch($event)" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      multiTemplateDataRows
      class="default-table zebra-expandable"
    >
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>
            {{ expandedElement === element ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.product.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
      </ng-container>

      <ng-container matColumnDef="margin">
        <th mat-header-cell *matHeaderCellDef>Margem</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
          <div fxLayout="column" fxLayoutGap="2px">
            <span>
              {{ `${element?.product?.margin ?? 0}%` }}
            </span>
            @if (rows.at(i).controls.suggestedSalePriceWithMargin.value) {
              <span
                class="details-rows sale-price-cell"
                [matTooltip]="`Preço com a margem de ${element?.product?.margin}%`"
              >
                {{
                  rows.at(i).controls.suggestedSalePriceWithMargin.value
                    | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR'
                }}
              </span>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="average_cost_quote">
        <th mat-header-cell *matHeaderCellDef>Média de Custo</th>
        <td mat-cell *matCellDef="let element">
          <div fxLayout="column" fxLayoutGap="2px">
            {{ element.averageCostQuote | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
            <div
              fxLayoutAlign="row"
              fxLayoutGap="5px"
              fxLayoutAlign="start center"
              matTooltip="Quantidade de fornecedores"
            >
              <mat-icon>local_shipping</mat-icon>
              <span class="details-rows">{{ element?.quantitySuppliers }}</span>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="shipping_price">
        <th mat-header-cell *matHeaderCellDef>Frete</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
          <input
            #shippingPriceInput
            matInput
            class="only-line"
            [formControl]="rows.at(i).controls.shippingPrice"
            (keyup.enter)="
              onEnter(this.shippingPriceInputs.toArray()[i], this.salePriceInputs.toArray()[i])
            "
            (blur)="
              onPriceBlur(
                shippingPriceInput.getAttribute('initial-shipping-price') || '0',
                element.product.id,
                rows.at(i).controls.shippingPrice,
                'shipping_price'
              )
            "
            (focus)="onFocus(shippingPriceInput)"
            (focusin)="
              shippingPriceInput.setAttribute(
                'initial-shipping-price',
                rows.at(i).controls.shippingPrice.value?.toString() || '0'
              )
            "
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            [allowNegativeNumbers]="false"
            style="width: 65px"
            (click)="$event.stopPropagation()"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="quote_cost">
        <th mat-header-cell *matHeaderCellDef>Pr.Cotação</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
          <div
            fxLayout="column"
            [matTooltip]="`${element?.supplier?.id} - ${element?.supplier?.name}`"
          >
            <span> {{ element.quoteCost | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}</span>
          </div>
          @if (getShippingPrice(i)) {
            <div matTooltip="Pr.Cotação + frete">
              <span style="font-weight: bold">
                {{
                  getFinalCost(i, element.quoteCost)
                    | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR'
                }}</span
              >
            </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="current_sale_price">
        <th mat-header-cell *matHeaderCellDef>Preço de Venda (Atual)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.currentSalePrice | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sale_price">
        <th mat-header-cell *matHeaderCellDef>Novo Preço de Venda</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex" class="sale-price-cell">
          <div fxLayout="column" fxLayoutGap="2px">
            <input
              #salePriceInput
              matInput
              class="only-line sale-price-cell"
              [formControl]="rows.at(i).controls.salePrice"
              (keyup.enter)="
                onEnter(this.salePriceInputs.toArray()[i], this.loyaltyPriceInputs.toArray()[i])
              "
              (blur)="
                onPriceBlur(
                  salePriceInput.getAttribute('initial-sale-price') || '0',
                  element.product.id,
                  rows.at(i).controls.salePrice,
                  'sale_price'
                )
              "
              (focus)="onFocus(salePriceInput)"
              (focusin)="
                salePriceInput.setAttribute(
                  'initial-sale-price',
                  rows.at(i).controls.salePrice.value?.toString() || '0'
                )
              "
              mask="separator.2"
              thousandSeparator="."
              decimalMarker=","
              prefix="R$ "
              [dropSpecialCharacters]="true"
              [showMaskTyped]="false"
              [allowNegativeNumbers]="false"
              style="width: 75px"
              (click)="$event.stopPropagation()"
            />
            @if (rows.at(i).controls.suggestedSalePrice.value) {
              <div fxLayout="column">
                <span class="details-rows">{{ 'Preço Sugerido:' }} </span>
                <span class="details-rows">
                  {{ `R$ ${rows.at(i).controls.suggestedSalePrice.value}` }}
                </span>
              </div>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="current_loyalty_price">
        <th mat-header-cell *matHeaderCellDef>Preço Fidelidade (Atual)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.currentLoyaltyPrice | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="loyalty_price">
        <th mat-header-cell *matHeaderCellDef>Novo Preço Fidelidade</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex" class="loyalty-price-cell">
          @if (element.currentLoyaltyPrice) {
            <div fxLayout="column" fxLayoutGap="2px">
              <input
                #loyaltyPriceInput
                matInput
                class="only-line loyalty-price-cell"
                [formControl]="rows.at(i).controls.loyaltyPrice"
                mask="separator.2"
                thousandSeparator="."
                decimalMarker=","
                prefix="R$ "
                (keyup.enter)="
                  onEnter(
                    this.loyaltyPriceInputs.toArray()[i],
                    this.shippingPriceInputs.toArray()[i + 1]
                  )
                "
                (blur)="
                  onPriceBlur(
                    loyaltyPriceInput.getAttribute('initial-loyalty-price') || '0',
                    element.product.id,
                    rows.at(i).controls.loyaltyPrice,
                    'loyalty_price'
                  )
                "
                (focus)="onFocus(loyaltyPriceInput)"
                (focusin)="
                  loyaltyPriceInput.setAttribute(
                    'initial-loyalty-price',
                    rows.at(i).controls.loyaltyPrice.value?.toString() || '0,00'
                  )
                "
                [dropSpecialCharacters]="true"
                [showMaskTyped]="false"
                [allowNegativeNumbers]="false"
                style="width: 75px"
                (click)="$event.stopPropagation()"
              />
              @if (rows.at(i).controls.suggestedLoyaltyPrice.value) {
                <div fxLayout="column">
                  <span class="details-rows">{{ `Preço Sugerido:` }}</span>
                  <span class="details-rows">
                    {{ `R$ ${rows.at(i).controls.suggestedLoyaltyPrice.value}` }}
                  </span>
                </div>
              }
            </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let element; let i = dataIndex"
          (click)="$event.stopPropagation()"
        >
          @if (sendingProductId !== element.product.id) {
            <div fxLayout="column" fxLayoutAlign="center">
              <app-icon-button
                icon="send"
                [class]="isPriceInvalid(i) ? 'icon-button-table-disabled' : 'icon-button-table'"
                [tooltipText]="isPriceInvalid(i) ? '' : `Enviar preços para o ERP`"
                (click)="sendPrices(element.product.id)"
                [disabled]="isPriceInvalid(i)"
              />
              @if (element.erpImportDate) {
                <div fxLayout="column" matTooltip="Data e hora de importação no ERP">
                  <span class="details-rows">
                    {{ `${(element.erpImportDate | date: 'dd/MM/yy - HH:mm')}` }}
                  </span>
                </div>
              }
              <span style="font-weight: 500">{{ rows.at(i).controls.warningPriceText.value }}</span>
            </div>
          } @else {
            <app-spinner [diameter]="30"></app-spinner>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element; let i = dataIndex"
          [attr.colspan]="columnsToDisplay.length"
        >
          <div class="element-detail-wrapper" [class.is-expanded]="element == expandedElement">
            <div class="element-detail-content">
              <div class="expanded-detail-content" fxLayout="column">
                <div fxLayout="column">
                  <div fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="row" class="full-width" fxLayoutAlign="center">
                      <span class="label">Preço dos concorrentes</span>
                    </div>
                    <mat-divider />
                  </div>

                  @if (rows.at(i); as currentRow) {
                    <div fxLayout="row" fxLayoutAlign="space-between" [formGroup]="currentRow">
                      @for (competitor of competitorList; track competitor.id; let j = $index) {
                        <div fxLayout="column" formArrayName="competitorPrices" fxLayoutGap="1">
                          <p>{{ competitor.name }}</p>
                          <input
                            matInput
                            #competitorPriceInput
                            class="only-line"
                            type="text"
                            [formControlName]="j"
                            (focusin)="
                              competitorPriceInput.setAttribute(
                                'initial-competitor-price',
                                currentRow
                                  .get('competitorPrices')
                                  ?.get(j.toString())
                                  ?.value?.toString() || '0,00'
                              )
                            "
                            (focus)="onFocus(competitorPriceInput)"
                            (blur)="
                              onPriceBlur(
                                competitorPriceInput.getAttribute('initial-competitor-price') ||
                                  '0',
                                element.product.id,
                                rows.at(i).controls.competitorPrices.at(j),
                                'competitor_price',
                                competitor.id
                              )
                            "
                            mask="separator.2"
                            maxlength="10"
                            (keyup.enter)="
                              onEnterInRow(i, j, competitorPriceInputs.toArray(), competitorList)
                            "
                            thousandSeparator="."
                            decimalMarker=","
                            prefix="R$ "
                            [dropSpecialCharacters]="true"
                            [showMaskTyped]="false"
                            [allowNegativeNumbers]="false"
                            style="width: 80px"
                          />
                        </div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

      <tr
        mat-row
        *matRowDef="let element; let i = dataIndex; columns: columnsToDisplay"
        [class.expanded-detail-content]="expandedElement === element"
        [class.row-critical]="rows.at(i).controls.warningPriceText.value"
        (click)="toggleRow(element)"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="colapsed-detail-content"
      ></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="paginatorDataSource.records.count"
      [pageSize]="paginatorDataSource.pageSize"
      [pageIndex]="paginatorDataSource.pageIndex"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
