@use '../../../../global/colors.scss' as *;
@use '../../../../global/styles/tables' as *;

.mat-card {
  margin: 20px;
  background: $secondary;
}

.table-container {
  margin: 10px;
  overflow-x: auto;
  min-height: 200px;
}

.spinner-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
