<div class="table-container" fxLayout="column">
  @if (loading) {
    <div fxLayout="row" fxFlex="100%" class="spinner-container"><app-spinner /></div>
  }
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Pesquisar item pela descrição</mat-label>
    <input matInput type="search" (input)="onSearch($event)" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <table mat-table class="default-table" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="sale_price">
      <th mat-header-cell *matHeaderCellDef>Novo Preço de Venda</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <input
          #priceInput
          matInput
          class="only-line"
          [formControl]="rows.at(i).controls.salePrice"
          (keyup.enter)="onEnter(i)"
          (blur)="onPriceBlur(i)"
          (focus)="onFocus(i)"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          prefix="R$ "
          [dropSpecialCharacters]="false"
          [showMaskTyped]="false"
          [allowNegativeNumbers]="false"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="send">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index" (click)="$event.stopPropagation()">
        @if (sendingProductId != element.id) {
          <app-icon-button
            icon="send"
            [class]="isPriceInvalid(i) ? 'icon-button-table-disabled' : 'icon-button-table'"
            [tooltipText]="isPriceInvalid(i) ? '' : 'Enviar preços para o ERP'"
            (click)="sendPrices(element.id)"
            [disabled]="isPriceInvalid(i)"
          ></app-icon-button>
        } @else {
          <app-spinner [diameter]="30"></app-spinner>
        }
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'sale_price', 'send']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'sale_price', 'send']"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="paginatorDataSource.records.count"
    [pageSize]="paginatorDataSource.pageSize"
    [pageIndex]="paginatorDataSource.pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
