<h2 mat-dialog-title>Novo Registro de Precificação</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <p>Crie um novo registro para gerenciar a precificação de produtos</p>

    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field appearance="outline">
        <mat-label>Nome do registro</mat-label>

        <input matInput formControlName="name" />

        @if (form.get('name')?.invalid && form.get('name')?.touched) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>

      <app-date-picker formControlName="creationDate" label="Data de criação" [required]="true">
      </app-date-picker>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div fxLayout="row" fxLayoutGap="5px">
      <app-button text="Cancelar" (click)="cancel()" type="button" bgColor="var(--cancel-color)" />
      <app-button text="Salvar" type="submit" [disabled]="form.invalid" />
    </div>
  </mat-dialog-actions>
</form>
