<h2 mat-dialog-title>Novo Registro de Precificação</h2>

<form [formGroup]="form" (ngSubmit)="salvar()">
  <mat-dialog-content>
    <p>Crie um novo registro para gerenciar a precificação de produtos</p>

    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field appearance="outline">
        <mat-label>Nome do registro</mat-label>

        <input matInput formControlName="name" />

        @if (form.get('name')?.invalid && form.get('name')?.touched) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>

      <app-date-picker formControlName="creationDate" label="Data de criação" [required]="true">
      </app-date-picker>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>

    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
  </mat-dialog-actions>
</form>
