@if (loading()) {
  <div class="spinner-overlay">
    <app-spinner />
  </div>
}

<form [formGroup]="userFormGroup">
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
        @if (email.touched && email.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
        @if (email.touched && email.hasError('email')) {
          <mat-error>Email inválido</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input type="email" matInput formControlName="name" maxlength="35" />
        @if (name.touched && name.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }

        @if (name.touched && name.hasError('minlength')) {
          <mat-error>O nome deve conter pelo menos 5 caracteres</mat-error>
        }

        @if (name.touched && name.hasError('maxlength')) {
          <mat-error>O nome deve conter no máximo 35 caracteres</mat-error>
        }
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="pass" />
        @if (pass.touched && pass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
        @if (pass.touched && pass.hasError('minlength')) {
          <mat-error>A senha deve conter no mínimo 6 dígitos</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirme sua senha</mat-label>
        <input type="password" matInput formControlName="confirmationPass" />
        @if (confirmationPass.touched && confirmationPass.hasError('passwordsMismatch')) {
          <mat-error>As senhas não coincidem</mat-error>
        }

        @if (confirmationPass.touched && confirmationPass.hasError('minlength')) {
          <mat-error>A senha deve conter no mínimo 6 dígitos</mat-error>
        }

        @if (confirmationPass.touched && confirmationPass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</form>
