@if (loading()) {
  <div class="spinner-overlay">
    <app-spinner />
  </div>
}

<form [formGroup]="userFormGroup">
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
        @if (email.touched && email.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
        @if (email.touched && email.hasError('email')) {
          <mat-error>Email inválido</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input type="email" matInput formControlName="name" maxlength="35" />
        @if (name.touched && name.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }

        @if (name.touched && name.hasError('minlength')) {
          <mat-error>O nome deve conter pelo menos 5 caracteres</mat-error>
        }

        @if (name.touched && name.hasError('maxlength')) {
          <mat-error>O nome deve conter no máximo 35 caracteres</mat-error>
        }
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="pass" />
        @if (pass.touched && pass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
        @if (pass.touched && pass.hasError('minlength')) {
          <mat-error>A senha deve conter no mínimo 6 dígitos</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirme sua senha</mat-label>
        <input type="password" matInput formControlName="confirmationPass" />
        @if (confirmationPass.touched && confirmationPass.hasError('passwordsMismatch')) {
          <mat-error>As senhas não coincidem</mat-error>
        }

        @if (confirmationPass.touched && confirmationPass.hasError('minlength')) {
          <mat-error>A senha deve conter no mínimo 6 dígitos</mat-error>
        }

        @if (confirmationPass.touched && confirmationPass.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <app-icon-button
        icon="lock"
        tooltipText="Alterar Senha"
        (click)="openChangePassDialog()"
        [disabled]="!canChangePassword || !userFormGroup.getRawValue().id"
      />
      <app-icon-button
        icon="mail_lock"
        tooltipText="Enviar email para recuperação de senha"
        (click)="openForgoutPassDialog()"
        [disabled]="!userFormGroup.getRawValue().id"
      />
    </div>

    <mat-divider />
    <div fxLayout="column">
      <b style="font-weight: 500; padding: 25px 0 15px">Permissões</b>

      <app-checkbox formControlName="isAdmin" checkboxText="Usuário administrador" />

      <div fxLayout="column" style="padding-left: 10px">
        <b style="font-weight: 500; padding: 25px 0 5px">Cotações</b>
        <div fxLayout="row" fxLayoutGap="20px">
          <app-checkbox
            formControlName="allowEditCompetitorPrices"
            checkboxText="Permitir alterar preços dos concorrentes"
          />
          <app-checkbox
            formControlName="allowEditPrices"
            checkboxText="Permitir alterar preços de venda e fidelidade"
          />
          <app-checkbox
            formControlName="allowSendToErp"
            checkboxText="Permitir enviar item para o ERP"
          />
        </div>
      </div>

      <div fxLayout="column" style="padding-left: 10px">
        <b style="font-weight: 500; padding: 25px 0 5px">Fornecedor</b>
        <div fxLayout="row" fxLayoutGap="20px">
          <app-checkbox
            formControlName="allowEditShippingType"
            checkboxText="Permitir alterar tipo do frete do fornecedor"
          />
        </div>
      </div>

      <div fxLayout="column" style="padding-left: 10px">
        <b style="font-weight: 500; padding: 25px 0 5px">Produtos</b>
        <div fxLayout="row" fxLayoutGap="20px">
          <app-checkbox
            formControlName="allowEditProductMargin"
            checkboxText="Permitir alterar margem do produto"
          />
        </div>
      </div>
    </div>
  </div>
</form>
