.mat-column-margin_min {
  width: 50px;
  text-align: start;
}

.mat-column-margin_max {
  width: 50px;
  text-align: start;
}

.mat-column-discount_percent {
  width: 90px;
  text-align: start;
}

.mat-column-actions {
  width: 10px;
  text-align: end;
}
