<form #enterpriseForm="ngForm">
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CNPJ</mat-label>
      <input type="text" matInput placeholder="Informe o CNPJ da empresa" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Razão social</mat-label>
      <input type="text" matInput placeholder="Digite a razão social" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome fantasia </mat-label>
      <input type="text" matInput placeholder="Digite o nome fantasia" />
    </mat-form-field>
  </div>
</form>
