<div>
  @if (loading()) {
    <div class="spinner-overlay">
      <app-spinner />
    </div>
  }
  <mat-card class="mat-card">
    <mat-card-header>
      <div fxLayout="row" fxLayoutAlign="space-between" class="full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <app-icon-button
            icon="arrow_back"
            tooltipText="Voltar para a lista de cotações"
            (click)="goBack()"
          ></app-icon-button>
          <div fxLayout="column">
            @if (flyerInfo()) {
              <mat-card-title>
                Produtos da cotação {{ flyerInfo()?.idIntegral }} - Loja:
                {{ flyerInfo()?.brancheId?.toString()?.padStart(2, '0') }}
              </mat-card-title>
            }

            <mat-card-subtitle>
              Ajuste o preço de venda e o preço fidelidade dos itens desejados.
            </mat-card-subtitle>
          </div>
        </div>
        @if (userPermissions?.allowEditPrices) {
          <div fxLayout="column" fxLayoutGap="25px">
            <div fxLayout="row" fxLayoutGap="5px">
              <app-button
                tooltipText="Mover preço sugerido para preço de venda e preço fidelidade"
                bgColor="var(--font-primary)"
                textColor="var(--primary)"
                icon="currency_exchange"
                text="Utilizar preço sugerido"
                (click)="aplySuggestedPrice()"
              />
              <app-button
                icon="settings"
                text="Regras de Precificação"
                (click)="openSettingsSuggestedPriceDialog()"
              />
            </div>
            <div
              fxLayout="row"
              fxLayoutGap="5px"
              style="color: var(--info-color)"
              fxLayoutAlign="end"
            >
              <mat-icon style="font-size: 18px; width: 18px; height: 18px">info</mat-icon>
              <div fxLayout="row" fxLayoutGap="5px">
                <span class="mat-caption" style="font-weight: 500"
                  >Preços fixados não serão alterados pela função
                </span>
                <span class="mat-caption" style="font-weight: bold">Utilzar preço sugerido.</span>
              </div>
            </div>
          </div>
        }
      </div>
    </mat-card-header>
    @if (flyerInfo(); as info) {
      <app-promotional-flyer-product-table [flyerId]="id()" [flyerInfo]="info">
      </app-promotional-flyer-product-table>
    }
  </mat-card>
</div>
