<div class="table-container">
  <div class="table-wrapper">
    @if (loading()) {
      <div class="spinner-overlay">
        <app-spinner />
      </div>
    }

    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Pesquise pelo nome do registro</mat-label>
      <input matInput type="search" (input)="onSearch($event)" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table class="default-table zebra-simple" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome do Registro</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>Criado em</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: 'dd/MM/yy HH:mm' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.status ? 'Finalizada' : 'Em andamento' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="produtos">
        <th mat-header-cell *matHeaderCellDef>Produtos</th>
        <td mat-cell *matCellDef="let element">{{ element.totalProducts }}</td>
      </ng-container>

      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          @if (sendingFlyerId != element.id) {
            <app-icon-button
              icon="send"
              class="icon-button-table"
              tooltipText="Enviar preços para o ERP"
              (click)="sendPrices(element.id)"
            ></app-icon-button>
          } @else {
            <app-spinner [diameter]="30"></app-spinner>
          }
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['id', 'name', 'createdDate', 'status', 'produtos', 'send']"
      ></tr>
      <tr
        (click)="navigateToPromotionalFlyerProduct(row)"
        mat-row
        *matRowDef="let row; columns: ['id', 'name', 'createdDate', 'status', 'produtos', 'send']"
      ></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="paginatorDataSource.records.count"
      [pageSize]="paginatorDataSource.pageSize"
      [pageIndex]="paginatorDataSource.pageIndex"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
