// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.toolbar-overrides(
    (
      container-background-color: #fff,
      title-text-line-height: normal,
      standard-height: auto,
    )
  );

  @include mat.card-overrides(
    (
      title-text-size: 16px,
      title-text-weight: 500,
      subtitle-text-size: 13px,
      subtitle-text-color: #6b7280,
      subtitle-text-line-height: normal,
    )
  );

  .default-button {
    @include mat.button-overrides(
      (
        filled-container-color: #000,
        filled-label-text-color: white,
        filled-container-height: 36px,
      )
    );
  }

  .default-button:hover {
    background-color: #444;
  }

  @include mat.button-overrides(
    (
      filled-container-shape: 8px,
    )
  );

  .delete-button {
    @include mat.icon-button-overrides(
      (
        icon-color: #ff0000,
      )
    );
  }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.pad-l-10 {
  padding-left: 10px;
}

.default-table {
  width: 100%;
  min-width: 700px;

  th {
    cursor: default;
  }

  tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-child(even) {
    background-color: #bebebe;
  }

  tr:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
  }

  .mat-sort-header-arrow {
    color: #fff;
  }
}
