@if (loading()) {
  <div class="spinner-overlay">
    <app-spinner />
  </div>
}

<h2 mat-dialog-title>Alterar senha do usuário</h2>

<form [formGroup]="userPasswordChangeGroup" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha atual</mat-label>

        <input
          matInput
          type="{{ actualPasswordVisibile() ? 'text' : 'password' }}"
          formControlName="actualPassword"
          placeholder="Digite sua senha atual"
        />

        <mat-icon matSuffix (click)="changeVisibilityInputPass(actualPasswordVisibile)">{{
          actualPasswordVisibile() ? 'visibility' : 'visibility_off'
        }}</mat-icon>

        @if (actualPassword.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nova senha</mat-label>

          <input
            matInput
            type="{{ newPasswordVisibile() ? 'text' : 'password' }}"
            formControlName="newPassword"
            placeholder="Digite a nova senha"
          />

          <mat-icon matSuffix (click)="changeVisibilityInputPass(newPasswordVisibile)">{{
            newPasswordVisibile() ? 'visibility' : 'visibility_off'
          }}</mat-icon>

          @if (newPassword.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }

          @if (newPassword.touched && newPassword.hasError('minlength')) {
            <mat-error>A senha deve conter no mínimo 6 dígitos</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirme a nova senha</mat-label>

          <input
            matInput
            type="{{ confirmationPasswordVisibile() ? 'text' : 'password' }}"
            formControlName="confirmationPass"
            placeholder="Digite novamente a nova senha"
          />

          <mat-icon matSuffix (click)="changeVisibilityInputPass(confirmationPasswordVisibile)">{{
            confirmationPasswordVisibile() ? 'visibility' : 'visibility_off'
          }}</mat-icon>

          @if (confirmationPass.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }

          @if (confirmationPass.touched && confirmationPass.hasError('passwordsMismatch')) {
            <mat-error>As senhas não coincidem</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div fxLayout="row" fxLayoutGap="8px">
      <app-button text="Cancelar" type="button" bgColor="var(--cancel-color)" (click)="cancel()" />
      <app-button text="Enviar" type="submit" [disabled]="userPasswordChangeGroup.invalid" />
    </div>
  </mat-dialog-actions>
</form>
