@use '../../../../global/colors.scss' as *;

.box-right {
  background-color: $primary;
}

.box-left {
  background-color: #fff;
  border-radius: 0px 30px 30px 0px;
  padding: 20px;

  @media (max-width: 767px) {
    border-radius: 0;
  }
}

.logo {
  width: 80%;
  max-width: 440px;
  padding-bottom: 40px;
}

