<div class="table-container">
  @if (loading) {
    <div fxLayout="row" fxFlex="100%" class="spinner-container">
      <app-spinner />
    </div>
  } @else {
    <table mat-table class="default-table" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="nome">Nome do Registro</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="data">Data de Criação</th>
        <td mat-cell *matCellDef="let element">{{ element.createdDate }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="produtos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="produtos">Produtos</th>
        <td mat-cell *matCellDef="let element">{{ element.totalProducts }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          @if (sendingFlyerId != element.id) {
            <app-icon-button
              icon="send"
              class="icon-button"
              tooltipText="Enviar preços para o ERP"
              (click)="sendPrices(element.id)"
            ></app-icon-button>
          } @else {
            <app-spinner [diameter]="30"></app-spinner>
          }
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['id', 'nome', 'data', 'status', 'produtos', 'acoes']"
      ></tr>
      <tr
        (click)="navigateToPromotionalFlyerProduct(row)"
        mat-row
        *matRowDef="let row; columns: ['id', 'nome', 'data', 'status', 'produtos', 'acoes']"
      ></tr>
    </table>
  }
</div>
